@using Microsoft.AspNetCore.Components.Authorization
@* Asegúrate de importar donde crees el componente RedirectToLogin *@

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">

                <NotAuthorized>
                    <LayoutView Layout="@typeof(FishClubAlginet.Blazor.Shared.Layouts.LoginLayout)">
                        <FishClubAlginet.Blazor.Shared.RedirectToLogin />
                    </LayoutView>
                </NotAuthorized>

                <Authorizing>
                    <div class="d-flex justify-content-center mt-5">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Verificando sesión...</span>
                        </div>
                    </div>
                </Authorizing>

            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <PageTitle>No encontrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="alert alert-warning m-4">
                    <p role="alert">Lo siento, la dirección que buscas no existe.</p>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<RadzenComponents />