@using Microsoft.AspNetCore.Components.Authorization
@* Asegúrate de importar donde crees el componente RedirectToLogin *@

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="@typeof(LoginLayout)">
                        <RedirectToLogin />
                    </LayoutView>
                </NotAuthorized>
                <Authorizing>
                    <LayoutView Layout="@typeof(LoginLayout)">
                        <div style="display:flex; justify-content:center; align-items:center; height:100vh;">
                            <p>Cargando...</p>
                        </div>
                    </LayoutView>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>No encontrado</PageTitle>
            <LayoutView Layout="@typeof(LoginLayout)">
                <div class="text-center p-5">
                    <h3>Página no encontrada</h3>
                    <a href="" class="btn btn-primary">Ir al inicio</a>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


<RadzenComponents />